<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>Questions</header>
  <main>
    <button><a href="/admin/questions/create">Criar uma pergunta</a></button>
    <% questions.forEach((question) => { %>
      <h4>Pergunta: <%= question.question %></h4>
      <p>Id: <%= question.id %></p>
      <button><a href=<%= `/admin/questions/${question.id}` %>>Ver pergunta</a></button>
    <% }) %>
  </main>
</body>
</html>