<!DOCTYPE html>
<head>
  <title>ReTry-Admin</title>
</head>
<body>
  <header>
    <h1>Bem-vindo ao admin do ReTry</h1>
  </header>
  <nav>
    <h3><a href="/admin/questions">Perguntas</a></h3>
  </nav>
</body>
</html>