<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css" />

  <title>ReTry-Admin</title>
</head>
<body>
  <header>
    <h1>Bem-vindo ao admin do ReTry</h1>
  </header>
  <nav>
    <h3><a href="/admin/questions">Perguntas</a></h3>
  </nav>
  <main class="main-index">
    <div>
      <h2>Número de questões:</h2>
      <p><%= questions %></p>
    </div>
    <hr>
    <div>
      <h2>Número de questões respondidas:</h2>
      <p>200</p>
    </div>
    <hr>
    <div>
      <h2>Número de usuários cadastrados:</h2>
      <p>80</p>
    </div>
  </main>
</body>
</html>