<!DOCTYPE html>
<head>
  <title>ReTry-Admin</title>
</head>
<body>
  <header>
    <h1>Bem-vindo ao admin do ReTry</h1>
  </header>
  <nav>
    <h3><a href="/admin/questions">Perguntas</a></h3>
  </nav>
  <main>
    <div>
      <h2>Numero de questões</h2>
      <p><%= questions %></p>
    </div>
    <div>
      <h2>Numero de questões respondidas</h2>
      <p>200</p>
    </div>
    <div>
      <h2>Numero de usuários cadastrados</h2>
      <p>80</p>
    </div>
  </main>
</body>
</html>